{%- for block in section.blocks -%}

  <div  class="twcss-hidden lg:twcss-block">
    <div class="twcss-relative twcss-bg-black twcss-text-white twcss-text-sm">
      <div class="twcss-container twcss-flex twcss-justify-between twcss-items-center twcss-bg-black">
        <div>{{ block.settings.text }}##</div>

        <div>
          <div class="twcss-flex twcss-justify-end twcss-items-center twcss-gap-8">
            {% if block.settings.link %}
              <div class="">
                <a href="{{ block.settings.link }}">{{ block.settings.link-text }}</a>
              </div>
            {% endif %}
            <div class="">
              <a href="/account">Account</a>
            </div>
            <div class="">
              <a href="/contact">
                <button class="twcss-bg-brand-yellow twcss-px-4 twcss-py-2 twcss-text-core-black">Trade account</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 1,
  "class": "announcement-bar",
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Announcement text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "First Link"
        },
        {
          "type": "text",
          "id": "link-text",
          "label": "First Link text"
        },
        {
          "type": "url",
          "id": "link-2",
          "label": "Second Link"
        },
        {
          "type": "text",
          "id": "link-text-2",
          "label": "Second Link text"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}

