<div class="twcss-w-full twcss-py-16">
  <div class="twcss-container twcss-grid twcss-grid-cols-1 md:twcss-grid-cols-3 twcss-gap-8">
    <div class="twcss-col-span-1 md:twcss-col-span-2 twcss-order-last md:twcss-order-first twcss-pt-8 md:twcss-pt-0">
      <h1 class="collection-hero__title twcss-text-2xl">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>
      {%- if section.settings.show_collection_description -%}
        <div class="!twcss-text-lg twcss-pt-8">{{ collection.description }}</div>
      {%- endif -%}
    </div>
    <div class="twcss-grid-cols-1 twcss-h-full twcss-flex twcss-items-center twcss-justify-center">
      {%- if section.settings.show_collection_image and collection.image -%}
        <div class="collection-hero__image-container gradient">
          <img class="twcss-mx-auto twcss-rounded-lg" src="{{ collection.image | img_url: '600x' }}">
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
