<section>
	<div class="twcss-container twcss-flex twcss-justify-center twcss-items-center">
		<div><img src="{{ 'tp-placeholder.jpg' | asset_img_url: 'medium' }}"></div>
		<div class="twcss-text-sm twcss-text-brand-grey">Rated 'Excellent' by our customers</div>
	</div>
</section>