@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800&display=swap');

html {
  @apply twcss-font-serif;
}

a,
a > div {
  @apply twcss-transition-all twcss-duration-300;
}

section {
  @apply twcss-mx-auto;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#nav-icon {
  width: 30px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */

#nav-icon span:nth-child(1) {
  top: 9px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon span:nth-child(4) {
  top: 27px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.button__primary {
  @apply twcss-bg-brand-blue twcss-text-white twcss-text-lg twcss-py-4 twcss-px-6 twcss-rounded-lg twcss-flex twcss-items-center twcss-justify-center;
}

.cart-count-bubble {
  @apply twcss-absolute twcss-bg-brand-red twcss-text-core-white twcss-flex twcss-justify-center twcss-items-center twcss-rounded-full;
  height: 1.7rem;
  width: 1.7rem;
  font-size: 0.9rem;
  bottom: 0.8rem;
  left: 1.3rem;
}

.twcss-container {
  @apply twcss-px-4 lg:twcss-px-2;
}

.facets-container .product-count {
  @apply !twcss-text-left;
}

.mobile-facets {
  @apply !twcss-bg-core-black !twcss-bg-opacity-50;
}

.mobile-facets__inner {
  @apply !twcss-bg-core-white;
}

.add-to-cart-container {
  button.addToCartCustomButton {
    @apply twcss-w-full twcss-py-4 twcss-flex twcss-justify-center twcss-items-center twcss-bg-brand-blue twcss-text-white;
  }
}

.banner-body-copy p {
  @apply twcss-pb-4;
}
.banner-body-copy p:last-of-type {
  @apply twcss-pb-0;
}

form#ContactForm {
  .field__label,
  .customer .field label {
    @apply twcss-text-xl;
  }

  .field__input,
  .customer .field input {
    @apply twcss-p-4;
  }
}

.rte p {
  @apply twcss-pb-4;
}

.rte p:last-of-type {
  @apply twcss-pb-0;
}

.rte ol {
  list-style: decimal;
  padding-bottom: 1rem;
  padding-left: 0 !important;
}

.rte ol li {
  padding-left: 0 !important;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 750px) {
  .facets-vertical {
    display: grid !important;
  }
}

.facet-checkbox input[type='checkbox'] {
  @apply !twcss-relative;
}

.button,
.button-label,
.shopify-challenge__button,
.customer button {
  font-size: 1.2rem !important;
  /*letter-spacing: .1rem;*/
  line-height: calc(1 + .2 / var(--font-body-scale));
}

.facets__disclosure .facets__display-vertical,
.facets__disclosure .facets__display {
  @apply !twcss-bg-core-white;
}

.addToCartCustomButton {
  border-radius: 0 !important;
  min-height: 1rem !important;
  height: 56px !important;
}